<html>
  <head>
    <title> penguin's icebox </title>
  </head>

  <body>
    <div id="index">
    
    </div>

    <script>
      const contents = {
        'convex_hull': [
          'outline',
          'outer_product',
        ],
      };

      const url_base = 'https://penguins-icebox.netlify.app/';
      
      const indexDiv = document.getElementById('index');
      console.log(indexDiv);
      
      let innerHTML = '';
      for (const section in contents) {
        innerHTML += '<h3>' + section + '</h3>';
        for (const i in contents[section]) {
          const unit = contents[section][i];
          innerHTML += '<a href="' + url_base + section + '/' + unit + '.html"' + '>' + unit + '</a> <br>';
        }
      }

      indexDiv.innerHTML = innerHTML;
    </script>
  </body>
</html>
